body {
    background-color: green;
    color: white;
    font-family: cursive 'Courier New', Courier, monospace;
    margin: 0;
    padding: .5rem;
}
img {
    max-width: 100%;
}
header{
    position: relative;
    padding: 2rem;
}
header img{
    height: 20rem;
    margin: .5rem;
    position: relative;
    top: -2rem;
    left: 2%;
}
header h1 {
    position: absolute;
    top: 3rem;
    left: 50%;
}
header p {
    position: absolute;
    top: 3rem;
    left: 87%;
}
header nav a {
    display: inline-block;
    align-items: flex-end;
    text-decoration: none;
    padding: 1rem;
    position: relative;
    border: 1px solid;
    color: white;
    top: -37rem;
    left: 35%;
    margin: 1.5rem;
}
header nav>a:hover {
    background-color: lightgreen;
    text-decoration: underline;
}
.location img {
  
}
